## What is pandas

# Pandas,as the anconda does tell us,offers us"High-performance,easy-to-use data structures and data analysis tools

In [3]:
import pandas as pd

In [7]:
heart = pd.read_csv("C:\\Users\\User\\Desktop\\data  science bootcamp\\Dataset\\heart.csv")
## Return the first number of read assignment
heart.head()

#heart.columns

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [8]:
heart.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [10]:
heart.values

array([[63.,  1.,  3., ...,  0.,  1.,  1.],
       [37.,  1.,  2., ...,  0.,  2.,  1.],
       [41.,  0.,  1., ...,  0.,  2.,  1.],
       ...,
       [68.,  1.,  0., ...,  2.,  3.,  0.],
       [57.,  1.,  0., ...,  1.,  3.,  0.],
       [57.,  0.,  1., ...,  1.,  2.,  0.]])

In [11]:
heart.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [13]:
# Return a random sample of items from an axis of object
heart.sample(8)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
258,62,0,0,150,244,0,1,154,1,1.4,1,0,2,0
95,53,1,0,142,226,0,0,111,1,0.0,2,0,3,1
13,64,1,3,110,211,0,0,144,1,1.8,1,0,2,1
132,42,1,1,120,295,0,1,162,0,0.0,2,0,2,1
175,40,1,0,110,167,0,0,114,1,2.0,1,0,3,0
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
199,65,1,0,110,248,0,0,158,0,0.6,2,2,1,0
168,63,1,0,130,254,0,0,147,0,1.4,1,1,3,0

In [14]:
# Describe() is used to view basic statistical details like percentile,mean,std etc
heart.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [15]:
heart['age'].max()

77

### Adding to a data frame

In [17]:
extra_rows= {'age':[40,30],'sex':[1,0],'cp':[0,0],'trestbps':[120,130],
             'chol':[240,200],
             'fbs':[0,0],'restecg':[1,0],'chalach':[120,122],'exang':[0,1],
             'oldpeak':[0.1,1.0],'slope':[1,1],'ca':[0,1],'thal':[2,3],
             'target':[0,0]}
extra_rows

{'age': [40, 30],
 'sex': [1, 0],
 'cp': [0, 0],
 'trestbps': [120, 130],
 'chol': [240, 200],
 'fbs': [0, 0],
 'restecg': [1, 0],
 'chalach': [120, 122],
 'exang': [0, 1],
 'oldpeak': [0.1, 1.0],
 'slope': [1, 1],
 'ca': [0, 1],
 'thal': [2, 3],
 'target': [0, 0]}

In [26]:
# let's first turn this into a data frame
# we can use the from_dict() method

extra = pd.DataFrame().from_dict(extra-rows)

NameError: name 'extra' is not defined

In [27]:
# Now we just need to concatenate the two data frames together
heart_augmented = pd.concat([heart,extras],ignore_index = True)

NameError: name 'extras' is not defined